*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
   
    font-size: 30px;
  padding-left: 700px;
    background-color: green;
}
.nav-bar ul{
    display: flex; gap:40px;
    padding: 20px;
    
    margin-left: 90px;
}
.nav-bar ul li{
  text-decoration: none;
  display: flex;
    gap: 20px; float: right;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
}
.para{
    /* background-color: aqua; */
    color: black;
   font-size: 40px;
}


.photos img{
    width: 60vh;
    height: 75vh;
}
.combine{
background-color: antiquewhite;
background-size: cover;
display: flex;
justify-content: space-between;
padding-right: 200px;
padding-left: 200px;
 padding-top: 70px
}

