*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar {
    margin-right: 0px;
    padding-left: 800px;
    
     float: right;
    font-size: 30px;
    background-color: green;
     width: 100%;
    
}
.nav-bar ul{
    display: flex;
    gap: 40px; 
    padding:10px;
    /* margin-top: 10px; */
    /* margin-left: 800px; */
}
.nav-bar ul li{
  text-decoration: none;
  display: flex;
    /* gap: 5px; */
    
}
a{
    text-decoration: none;
    color: white;
}
.para{
color: black;
font-size: 40px;

}

.photos img{
    width:400px ;
    height: 500px; 
}

.all{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    padding-left: 300px; 
     padding-right: 300px;  padding-top: 40px;
     padding-bottom:300px; 
} 


