*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar {
    margin-top: 20px;
    padding-left: 600px;
    
     float: right;
    font-size: 20px;
    background-color: green;
     width: 100%;
     display:flex;
    
} 
.nav-bar ul{
    display: flex;
    gap: 40px; 
    padding:10px;
   
}
.nav-bar ul li{
  text-decoration: none;
  display: flex;
   
    
}
a{
    text-decoration: none;
    color: white;
}
.para{
color: black;
font-size: 20px;

}

.photos img{
    width:400px ;
    height: 500px; 
}

.all{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    padding-left: 300px; 
     padding-right: 300px; 
      padding-top: 40px;
     padding-bottom:100px; 
} 
@media screen and(max-width:800px){
.nav-bar ul{
    display: block;
    float:left;
    margin-left: 30px;
}
.nav-bar{
height:15vh;
display: block;

}



